<h1 class="current_category"><%= params[:category] %></h1>
<% if @books.count == 0 %>
	<h1> There are no books currently under this category.</h1>
<% else %>
	<div class="row">
	<% @books.each do |book| %>
		<div class="col-md-3">
		<a href="/books/<%=book.id %>"><%= image_tag book.book_img.url(:book_index), class: "book" %> </a> 
	<!-- <h2><%= link_to book.title, book_path(book) %> </h2> -->
	<!-- <h2><%= book.description %> </h2> -->
	<!-- <h2><%= book.author %> </h2> --> 
	</div>
	<% end %>
	</div>
<% end %>
<%#= link_to "Add book", new_book_path %>
<%#= link_to "edit book", edit_book_path() %>